@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBg{
    background-image: url('../public/hero.svg'); 
    background-color: #141A28;
    background-size: cover;
    /* background-repeat: no-repeat; */
}